<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe5EcNXKIc8RE5Pln402TeXb6AYIjnL0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>917138763935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crmMachineTest</string>
	<key>PROJECT_ID</key>
	<string>crm-machine-test</string>
	<key>STORAGE_BUCKET</key>
	<string>crm-machine-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917138763935:ios:ba42dab5e51e861af672aa</string>
</dict>
</plist>